#  Covariance
1. It measures the relationship between two variables. 
2. If covariance > 0, the two variables move in the same direction.
3. If covariance < 0, the two variables move in opposite direction.
4. If covariance = 0, the two variables are independent.
4. To calculate covariance we need to perform the following :
covariance(x,y) = for all x and y [(x-mean(x)) * (y-mean(y))]/(n-1)

# Correlation 

1. **Perfect positive Correlation**:It has value as 1. The entire variability of the 2nd variable is explained by the 1st variable. Example :  A perfect positive correlation may exist between house size and price. An increase in the size of house will lead to an increase in the price of house as well. In this case, size will be the only variable that will determine a house's price and so it will be easy to calculate the houses size once we know it's price. However, in reality, it is very rare to get a perfect positive correlation , it is very likely that we will get a imperfect positive correlation. Size is one of the most important variables which determine the price of the house but it is not the only factor, other factors such as location and year of construction also play an important role while determining the price of the house. So it is not correct to say that a house will be valued purely based on it's size. That's how it works with most things.

1. **Independent Correlation** : Variables with 0 correlation are absolutely independent from each other. Example: There is no correlation between price of coffee in italy and price of house in London.

2. **Negative Correlation** - Two variables move in opposite direction. A perfect negative correlation coefficient : -1 and an imperfect negative correlation coefficient between : -1 and 0.The imperfect negative correlation is more likely predominant in reality. Example: When it's rainy season, there exists a negative correlation between the ice cream producers and umbrella producers since when it's raining , people will not likely buy ice creams but will surely purchase umbrellas. The prices of the two companies are influenced by the same variable but the variable impacts their businesses in a different way.

3. We don't need to manually compute correlation coefficient nowadays. There are different software packages available for it.

4. The more similar the context in which companies operate, the more correlation there will be between their share prices as they will be influenced by the same or similar factors.

In [2]:
#pandas.DataFrame.var()- Calculates the variance

In [3]:
import numpy as np 
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [4]:
tickers = ['PG','BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source ='yahoo',start ='2007-01-01')['Adj Close']

In [5]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-03-25  100.919998  95.660004
2020-03-26  107.379997  95.540001
2020-03-27  110.169998  91.559998
2020-03-30  115.000000  93.620003
2020-03-31  110.000000  92.559998

In [6]:
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  43.435280  39.869827
2007-01-04  43.105507  40.131615
2007-01-05  42.735352  39.306618
2007-01-08  42.829563  39.314541
2007-01-09  42.721889  38.426079

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1)) # taking the logarithmic returns since we r examining each company in a given time frame and this will tell us more about the behaviour of the stock

In [8]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-03-25 -0.023019  0.009242
2020-03-26  0.062046 -0.001255
2020-03-27  0.025651 -0.042551
2020-03-30  0.042908  0.022250
2020-03-31 -0.044452 -0.011387

[3334 rows x 2 columns]

# PG

In [9]:
sec_returns['PG'].mean() # Gives us the daily average return

0.0002787903856070272

In [10]:
sec_returns['PG'].mean() * 250 # 250 is the total number of days in which stocks r dealt with so therefore it's multiplied by 250. 250 is the total number of trading days in a year.

0.06969759640175681

In [11]:
sec_returns['PG'].std() # To measure the volatility of a company's stock

0.011869787223773317

In [12]:
sec_returns['PG'].var() * 250 # Gives the variance of the stock anually

0.035222962184413065

In [13]:
sec_returns['PG'].std() * 250 ** 0.5 # For measuring the volatility of a company for an entire year. We take it's square root since standard deviation is computed by taking the square root of variance.

0.18767781484345203

In [14]:
#standard_deviation = v ** 0.5
#print (v)

# Beirsdorf

In [15]:
sec_returns['BEI.DE'].mean() # For computing the daily average return

0.00023782654511880847

In [16]:
sec_returns['BEI.DE'].mean() * 250 ## 250 is the total number of days in which stocks r dealt with so therefore it's multiplied by 250. 250 is the total number of trading days in a year.

0.059456636279702116

In [17]:
sec_returns['BEI.DE'].std() # To measure the volatility of a company's stock

0.013766918470387053

In [18]:
sec_returns['BEI.DE'].std() * 250 ** 0.5 # For measuring the volatility of a company for an entire year. We take it's square root since standard deviation is computed by taking the square root of variance.

0.21767409364132206

In [19]:
sec_returns['BEI.DE'].var() * 250 # Variance of the stock anually

0.047382011042571046

In [20]:
# As we can see from the above data, stocks with higher standard deviation value involve more risk

In [21]:
# pandas.DataFrame.cov() - computes pairwise covariance of columns 
# pandas.DataFrame.corr() - computes pairwise correlation of columns

In [22]:
cov_matrix = sec_returns.cov()

In [23]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.035223  0.011307
BEI.DE  0.011307  0.047382

In [24]:
corr_matrix = sec_returns.corr()
corr_matrix

             PG   BEI.DE
PG      1.00000  0.27601
BEI.DE  0.27601  1.00000

# Calculating Portfolio Risk

# Risk of Multiple securities in a portfolio 

1. If a portfolio contains 2 stocks, it's risk will be a function of the variances of the two stocks and of the correlation between them.

2. To calculate a portfolio's variance : refer the video for formula

**Equal Weighing scheme since the portfolio is having stocks which are equal in weight** :

In [25]:
weights = np.array([0.5,0.5])

**Portfolio Variance** :

In [33]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights)) # It's basically a matrix and a vector multiplied together and the square of that product. Whenever we multiply a matrix with a vector and take the square of the product, then in that case, the result will be the simple square of the vector multiplied by the matrix in original form and transpose of the matrix. This will give a number in return. Example - (aB)^2 = a(B^2)a^T where B is the matrix and a is the vector.The numpy matrix np.dot makes it possible to do it easily.
pfolio_var # .T notation gives us the transpose of the matrix weights object

0.0263047609408829

**Portfolio Volatility** :

In [28]:
pfolio_vol = (np.dot(weights.T,np.dot(sec_returns.cov() * 250, weights))) ** 0.5

In [29]:
pfolio_vol

0.1621874253475987

In [31]:
print (round(pfolio_vol, 5) * 100) + '%'

16.219

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'