# General Rules
1. Investors want a greater rate of return and no one will prefer uncertainity.
2. Risk and return are two most important dimensions in investment decision making. Forecasting and measuring security risk is therefore very essential
3. How the stock is giving the average would determine a lot about the stock and it's variability/ uncertainity. We can measure the variability/ uncertanity by checking the previous data or record about the stock. Example - A set of data says that during the last 4 yrs, the stock gave returns of 13,17,14,16 percent respectively. So more or less it is giving a stable return over the last 4 yrs and the average comes out to be 15 percent. However, when we consider that the stock is giving us returns of 50,-20,-20 and then 50 percent during the last 4 yrs, we can say that there is large/huge variability/uncertainity from one year to the next following year and the stock price is dramatically changing during the last 4 yrs. If we hold the stock according to the second data for the period of 2nd and 3rd year, we could loose 40 percent of the stock value which is a lot when it comes to investing in stocks since for 2 years continuously, we are loosing value of the stock in which one has invested by 40 percent. Therefore, variability plays a very important role in the world of finance and it's the best measure of risk.
4. A volatile stock market is much more likely to deviate from it's historical returns and surprise investors negatively or it might turn out to be positive. Main goal is to measure the risk and reduce it as much as possible.
5. Commonly used statistical measures such as variance and standard deviation. Variance measures the dispersion of a set of data points around the mean. Formula of variance : 
     (Result)^2 = [sum for all the points mentioned { ( given point - mean of all the given points )^2} ]/[ n-1 ]
6. Standard Deviation = square root of Variance
7. If we check for the standard deviation of the 2 data set samples given above, the first data set will be having a standard deviation of 1.8 percent whereas the second data set will be having a standard deviation of 40 percent.

In [1]:
import numpy as np 
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers = ['PG','BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source ='yahoo',start ='2007-01-01')['Adj Close']

In [4]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-03-24  103.269997  94.779999
2020-03-25  100.919998  95.660004
2020-03-26  107.379997  95.540001
2020-03-27  110.169998  91.559998
2020-03-30  115.000000  93.620003

In [5]:
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  43.435280  39.869827
2007-01-04  43.105507  40.131615
2007-01-05  42.735352  39.306618
2007-01-08  42.829563  39.314541
2007-01-09  42.721889  38.426079

In [6]:
sec_returns = np.log(sec_data / sec_data.shift(1)) # taking the logarithmic returns since we r examining each company in a given time frame and this will tell us more about the behaviour of the stock

In [7]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-03-24  0.055445  0.072859
2020-03-25 -0.023019  0.009242
2020-03-26  0.062046 -0.001255
2020-03-27  0.025651 -0.042551
2020-03-30  0.042908  0.022250

[3333 rows x 2 columns]

# PG

In [8]:
sec_returns['PG'].mean() # Gives us the daily average return

0.00029221492130824

In [10]:
sec_returns['PG'].mean() * 250 # 250 is the total number of days in which stocks r dealt with so therefore it's multiplied by 250. 250 is the total number of trading days in a year.

0.07305373032706

In [11]:
sec_returns['PG'].std() # To measure the volatility of a company's stock

0.011846235623634406

In [20]:
sec_returns['PG'].std() * 250 ** 0.5 # For measuring the volatility of a company for an entire year. We take it's square root since standard deviation is computed by taking the square root of variance.

0.18730543134854954

In [21]:
#standard_deviation = v ** 0.5
#print (v)

# Beirsdorf

In [22]:
sec_returns['BEI.DE'].mean() # For computing the daily average return

0.00024143562156887072

In [23]:
sec_returns['BEI.DE'].mean() * 250 ## 250 is the total number of days in which stocks r dealt with so therefore it's multiplied by 250. 250 is the total number of trading days in a year.

0.06035890539221768

In [24]:
sec_returns['BEI.DE'].std() # To measure the volatility of a company's stock

0.013767531472027016

In [25]:
sec_returns['BEI.DE'].std() * 250 ** 0.5 # For measuring the volatility of a company for an entire year. We take it's square root since standard deviation is computed by taking the square root of variance.

0.21768378604828056

In [26]:
# As we can see from the above data, stocks with higher standard deviation value involve more risk